# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.RData

# RStudio files
.Rproj.user/
.Rproj.user
*.Rproj

# tmp files
*.swp

# data files
ch1/data/ufo_awesome.tsv
ch1/data/ufo_awesome_*  
ch2/data/01_heights_weights_genders.csv
